SPREADSHEET_ID=your-google-spreadsheet-id
WORKSHEET_NAME=Todoリスト
SECRET_KEY=any-random-string
# ローカルではcredentials.jsonファイルを直接使うので、このGOOGLE_CREDENTIALS_JSONは
# 本番(Vercel)環境でのみ設定すればOKです。
# GOOGLE_CREDENTIALS_JSON={"type": "service_account", ...}
